<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" href="assets/img/favicon.ico" type="image/x-icon">
	<link href="https://fonts.googleapis.com/css?family=Luckiest+Guy|Press+Start+2P" rel="stylesheet">

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.1/css/bulma.min.css" type="text/css">
	<link rel="stylesheet" href="/assets/css/burger_style.css" type="text/css" />
	<title>Devour-a-Burger</title>
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/assets/js/burgers.js"></script>
</head>

<body>
	{{{ body }}}
</body>

</html>